<section class="content" role="main">


  <h2>Você pode construir placar de diversas formas</h2>
  <div class="row">

    <div class="col">
      Deputados Federais
    </div>
    <div class="col">
      Senadores
    </div>
    <div class="col">
      Estados
    </div>
    <div class="col">
      Municípios
    </div>
  </div>


  <h2>Use o poder da internet para te ajudar a buscar as informações</h2>
  <div class="row">

    <div class="col">
      Crie um encontre um placar do seu tema e compartilhe nas redes sociais
    </div>
    <div class="col">
      As pessoas podem colaborar procurando conteúdo nas redes sociais/mídia e informar na plataforma
    </div>
  </div>

  <h2>
    <a [routerLink]="['/board']">
      Veja os últimos placares
    </a>
  </h2>
  <div class="row">

  </div>


  <h2>Sugestões? Deseja algo? Twitter com #PlacarDaPolitica</h2>
  <a href="https://twitter.com/intent/tweet?button_hashtag=PlacarDaPolitica" class="twitter-hashtag-button"
    data-show-count="false">{{'Tweet #PlacarDaPolitica' | translate}}</a>



</section>